@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    color: #FFE5B4;
}

body {
    background-color: #001F3F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    height: 150px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 2px solid black;
}

.logo {
    height: 150px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    height: 100%;
    width: 100%;
    border: 1px solid #001F3F;
    padding: 10px 5px;
    transition: transform 0.3s ease-in-out;
    border-radius: 20px;
}

.logo img:hover {
    transform: scale(1.15); 
    border-radius: 20px;
}


nav{
    width: 80vw;
    display: flex;
    justify-content: flex-end;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

ul li a {
    margin: 0 5px 5px;
    border: 2px solid wheat;
    padding: 5px 15px;
    border-radius: 50px;
}

a {
    text-decoration: none;
}

a:hover {
    color: #FFC107;
}

#signup {
    color: #ffe5b4ce;
}

#signup:hover {
    background-color: #07c5ffbe;
    color: #3a14aa;
}

main {
    display: flex;
    height: 90vh;
    justify-content: space-between;
    margin: 0 30px;
    gap: 20px;
}

.left {
    flex:0.25;
    width:30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    flex: 3;
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    text-align: left;
    gap: 20px;
    margin-top: 20px; 
}

.image {
    height: 250px;
    width: 400px;
    border-radius: 10px;
    animation: rotate 10s linear infinite;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    header {
        flex-direction: row;
        height: auto;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        justify-items: center; 
    }

    ul li a {
        text-align: center;
    }

    li{
        margin: 10px;
    }

    main {
        flex-direction: column;
        height: auto;
        margin: 20px;
    }

    .left, .right {
        width: 100%;
    }

    .image {
        max-width: 200px;
        height: 100%;
    }
}

@media screen and (max-width: 480px) {
    ul {
        grid-template-columns: 1fr; /* Single column layout for smaller screens */
    }

    ul li a {
        margin-bottom: 10px;
        text-align: center;
    }
}
